<div class="flex items-center mt-3 bg-customGray h-20 border border-white shadow-[0px_4px_4px_rgba(0,0,0,0.25)]">
  <div class="w-52 h-full overflow-hidden">
    <img loading="lazy" [src]="ticket.imageUrl" class="w-full h-full object-cover"
         style="clip-path: polygon(0 0, 60% 0%, 100% 100%, 0 100%);" [alt]="ticket.type"/>
  </div>
  <div class="flex flex-col justify-center ml-4">
    <span class="text-white text-lg uppercase">{{ ticket.type }}</span>
  </div>
  <div class="flex items-center ml-auto border-l-8 h-full" [ngClass]="{
    'border-tgold': ticket.type.toLowerCase() === 'vip golden access',
    'border-tsilver': ticket.type.toLowerCase() === 'platea',
    'border-twhite' : ticket.type.toLowerCase() === 'general' }">
    <span class="text-white text-lg px-6">x{{ ticket.quantity }}</span>
  </div>
</div>
