<div class="flex overflow-hidden flex-col bg-white">
  <main class="flex flex-col items-start self-center mt-10 mb-10 w-full max-w-[930px] max-md:max-w-full">

    <h1 class="text-2xl font-light text-black">Facturación</h1>
    <div class="shrink-0 self-stretch mt-1.5 w-full h-px border border-black border-solid"></div>

    <section class="mt-3 w-full max-w-[904px] max-md:max-w-full">
      <div class="flex gap-5 max-md:flex-col">

        <div class="flex flex-col w-[71%] max-md:ml-0 max-md:w-full">
          <div class="flex flex-col w-full max-md:mt-5 max-md:max-w-full">
            <h2 class="self-start text-xl font-light text-black">Tickets</h2>
            <div class="shrink-0 max-w-full h-px border border-black border-solid w-[629px]"></div>

            <div *ngFor="let ticket of tickets">
              <app-card-ticket [ticket]="ticket"></app-card-ticket>
            </div>
            <h2 class="self-start mt-10 text-xl font-light text-black">Métodos de pago</h2>
            <div class="shrink-0 mt-1 max-w-full h-px border border-black border-solid w-[629px]"></div>

            <div class="flex flex-wrap gap-3.5 mt-2.5 max-md:mr-2.5">
              <img *ngFor="let method of paymentMethods"
                   loading="lazy"
                   [src]="method.src"
                   [alt]="method.name"
                   class="object-contain rounded-2xl aspect-[2.99] w-[197px] cursor-pointer p-1"
                   [ngClass]="{'border-2 border-customOrange2 ': selectedMethod === method.name}"
                   (click)="selectPaymentMethod(method.name)"/>
              <p class="mt-4 px-5 text-base font-light text-black">
                Select: <br/> {{ selectedMethod }}
              </p>
            </div>
          </div>
        </div>

        <aside class="flex flex-col ml-2 w-[30%] max-md:ml-0 max-md:w-full sticky top-[4.5rem] overflow-y-auto">
          <div
            class="flex flex-col self-stretch px-3 pt-2 pb-6 m-auto w-full text-white bg-customGray shadow-[0px_4px_4px_rgba(0,0,0,0.25)] max-md:mt-8">
            <h3 class="self-start text-xl">Compra</h3>
            <div class="z-10 shrink-0 h-px border border-white border-solid"></div>
            <div class="flex justify-between mt-2 text-xs max-md:mr-1">
              <p class="w-1/12">Cant</p>
              <p class="w-6/12">Ticket</p>
              <p class="w-3/12">Precio</p>
            </div>
            <div class="shrink-0 h-px border border-white border-solid w-full"></div>
            <div class="flex gap-5 justify-between mt-2.5 max-md:ml-2.5" *ngFor="let ticket of tickets">
              <div class="w-1/12 text-sm">
                {{ ticket.quantity }}
              </div>
              <div class="w-6/12 text-sm">
                {{ ticket.type }}
              </div>
              <div class="w-3/12 text-xs">
                S/ {{ ticket.price * ticket.quantity }}
              </div>
            </div>
            <div class="shrink-0 mt-40 h-px border border-white border-solid max-md:mt-10"></div>
            <div class="flex gap-4 self-end max-md:mr-1">
              <div class="text-base">Total:</div>
              <div class="my-auto text-xs border border-white p-1">S/ {{ total }}</div>
            </div>

            <div *ngIf="errorMessage" class="mt-4 text-red-600">
              {{ errorMessage }}
            </div>

          </div>
        </aside>
      </div>
    </section>

    <button
      (click)="buyTickets()"
      class="self-center px-5 pb-1.5 mt-8 ml-24 max-w-full text-3xl font-light text-white bg-customOrange2 whitespace-nowrap rounded-xl shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[119px] ">
      Pagar
    </button>

  </main>
</div>


